<!doctype html>

<html>
    <head>
        <title>wether app</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css" >
    </head>

    <body>
        <div class="main-content">
        {{>header}}
            <p> use this site for wether data</p>

            <form>
                <input placeholder="Location">
                <button> Search</button>

                <p id='msg1'></p>
                <p id='msg2'></p>
            </form>

        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>